<h1>{{title}}</h1>
<table class="lista-estudantes">
  <tr>
    <th>Nome</th>
    <th>Sobrenome</th>
    <th>Email</th>
    <th></th>
    <th></th>
  </tr>
  <tr *ngFor="let Estudante of Estudantes">
    <td>{{ Estudante.nome }}</td>
    <td>{{ Estudante.sobrenome }}</td>
    <td>{{ Estudante.email }}</td>
    <td>
      <input #box value="{{ Estudante.id }}" hidden>
      <input type="button" value="Deletar" (click)="delete(box.value)">
    </td>
    <td>
      <input type="button" value="Editar" (click)="editar(box.value)">
    </td>
  </tr>
</table>