.lista-estudantes {
    width: 100%;
}

.lista-estudantes th,
.lista-estudantes td {
    border-bottom: 1px solid #000000;
}

.lista-estudantes tr:nth-child(even) td {
    background-color: #acacac;
}

.lista-estudantes td:nth-child(-n+2) {
    width: 25%;
}

.lista-estudantes td:nth-last-child(-n+2) {
    text-align: center;
}