<div class="container">

  <div class="col-md-6">

    <h1>Cadastro de Estundantes</h1>

    <h3>Adicionar Estudante</h3>

    <form [formGroup]="estudanteForm" #formDir="ngForm" (submit)="handleSubmit()">

      <div [hidden]="formDir.submitted">

        <div class="form-group">

          <label for="nome">Nome</label>
          <input id="nome" class="form-control" formControlName="nome" required (change)="handleNomeChange($event)" value="{{ estudante.nome }}">

          <div *ngIf="nome.invalid && (nome.dirty || nome.touched)" class="alert alert-danger">

            <div *ngIf="nome.errors.required">
              nome é requerido.
            </div>
            <div *ngIf="nome.errors.minlength">
              nome must be at least 4 characters long.
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="sobrenome">Sobrenome</label>
          <input id="sobrenome" class="form-control" formControlName="sobrenome" required (change)="handleSobrenomeChange($event)"
            value="{{ estudante.sobrenome }}">
          <div *ngIf="sobrenome.invalid && (nome.dirty || sobrenome.touched)" class="alert alert-danger">
            <div *ngIf="sobrenome.errors.required">
              sobrenome é requerido.
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="email">Email</label>
          <input id="email" class="form-control" formControlName="email" required email (change)="handleEmailChange($event)" value="{{ estudante.email }}">
          <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
            <div *ngIf="email.errors.required">
              email é requerido.
            </div>
            <div *ngIf="email.errors.email">
              example@example.com
            </div>
          </div>
        </div>

        <button type="submit" class="btn btn-default btn-primary" [disabled]="estudanteForm.invalid">Adicionar</button>
        <button type="button" class="btn btn-default" (click)="formDir.resetForm({})">Limpar</button>
        <button type="button" class="btn btn-default" (click)="handleAtualizar()">Atualizar</button>
      </div>
    </form>

    <!-- <div class="submitted-message" *ngIf="formDir.submitted">
      <p>You've submitted your estudante, {{ estudanteForm.value.nome }}!</p>
      <button (click)="formDir.resetForm({})">Add new estudante</button>
    </div> -->
  </div>
  <div class="col-md-12">
    <h3>Lista de Estundantes</h3>
    <div class="divTable comicGreen">
      <div class="divTableHeading">
        <div class="divTableRow">
          <div class="divTableHead">Nome</div>
          <div class="divTableHead">Sobrenome</div>
          <div class="divTableHead">Email</div>
          <div class="divTableHead"></div>
          <div class="divTableHead"></div>
        </div>
      </div>
      <div class="divTableBody">
        <div class="divTableRow" *ngFor="let Estudante of Estudantes">
          <div class="divTableCell">{{ Estudante.nome }}</div>
          <div class="divTableCell">{{ Estudante.sobrenome }}</div>
          <div class="divTableCell">{{ Estudante.email }}</div>
          <div class="divTableCell">
            <input #box value="{{ Estudante.id }}" hidden>
            <input type="button" class="btn btn-default" value="Editar" (click)="handleEdit(box.value)">
          </div>
          <div class="divTableCell">
            <input type="button" class="btn btn-default" value="Deletar" (click)="handleDelete(box.value)">
          </div>
        </div>
      </div>

    </div>


  </div>
</div>