.ng-valid[required],
.ng-valid.required {
    border-left: 5px solid #42A948;
    /* green */
}

.ng-invalid:not(form) {
    border-left: 5px solid #a94442;
    /* red */
}

div.comicGreen {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}

.divTable.comicGreen .divTableCell,
.divTable.comicGreen .divTableHead {
    border-bottom: 1px solid #000;
}

.divTable.comicGreen .divTableRow:nth-child(even) {
    background: #e2e2e2;
}

.divTable.comicGreen .divTableHeading {
    background: #e2e2e2;
}

.divTable.comicGreen .divTableHeading .divTableHead {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

/* DivTable.com */

.divTable {
    display: table;
}

.divTableRow {
    display: table-row;
}

.divTableHeading {
    display: table-header-group;
}

.divTableCell,
.divTableHead {
    display: table-cell;
    font-size: 16px;
    padding: 10px 0px;
}

.divTableHeading {
    display: table-header-group;
}

.divTableFoot {
    display: table-footer-group;
}

.divTableBody {
    display: table-row-group;
}