<div class="col-md-12">
  <h1>Cadastro de Estudantes</h1>
  <legend id="form-title">Novo Estudante</legend>
  <form class="form-estudante" (submit)="handleSubmit()">
    <input type="text" class="form-control" placeholder="Nome" required autoFocus (change)="handleNomeChange($event)" />
    <input type="text" class="form-control" placeholder="Sobrenome" required (change)="handleSobrenomeChange($event)" />
    <input type="text" class="form-control" placeholder="Email" required (change)="handleEmailChange($event)" />
    <input type="file" class="form-control" placeholder="Foto" required (change)="handleFotoChange($event)" />
    <button class="btn btn-lg btn-primary btn-block" type="submit">Adicionar</button>
  </form>
</div>
<app-lista-estudantes></app-lista-estudantes>