/* You can add global styles to this file, and also import other style files */

body {
  background-color: #eee;
}

a:hover {
  color: #0056b3;
  text-decoration: none;
}

.title {
  text-align: center;
  margin-top: 20px;
}

.menu li {
  min-width: 20%;
}

.itens .item {
  font-size: 12px;
  text-align: center;
  text-transform: uppercase;
  padding: 10px;
  margin: 10px;
  background-color: #efefef;
  color: #000;
  border: 1px solid #000000;
}

.itens .item:hover {
  background-color: #000000;
  color: #ffffff;
}

.content {
  padding: 10px;
}