<div class="container">
    <div class="col-md-12 menu">
        <div class="title">
            <h1>Gestão Escolar CAEd</h1>
        </div>
        <ul class="nav nav-bar ">
            <li active>
                <a routerLink="/app-cadastro-prova" routerLinkActive="active" class="itens">
                    <div class="item">cadastro de provas</div>
                </a>
            </li>
            <li>
                <a routerLink="/app-estudantes" routerLinkActive="active" class="itens">
                    <div class="item">cadastro de estudantes</div>
                </a>
            </li>
            <li>
                <a routerLink="/app-cadastro-itens" routerLinkActive="active" class="itens">
                    <div class="item">cadastro de itens</div>
                </a>
            </li>
            <li>
                <a routerLink="/app-cadastro-alternativas" routerLinkActive="active" class="itens">
                    <div class="item">cadastro de alternativas</div>
                </a>
            </li>
            <li>
                <a routerLink="/app-resultado-estudantes" routerLinkActive="active" class="itens">
                    <div class="item">resultado por estudantes</div>
                </a>
            </li>
        </ul>
    </div>

    <div class="content">
        <router-outlet></router-outlet>
    </div>

</div>